@font-face {
  font-family: 'fortniteFont';
  src: url(/client/Fortnite/fortnite/fortnite.otf);
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#top {
  text-align: center;
  margin: 0 auto;
}

#top h1 {
  font-family: fortniteFont;
  font-size: 5em;
}

#content {
  margin-top: 100px;
  font-size: 2em;
  text-align: center;
}